// USER PAGE
.page-user,
.page-featured {
  padding:    $default-padding;
  box-shadow: $default-shadow;
  margin:     auto;

  h1 {
    font-size: 2em;
  }

  p {
    text-indent: 10%;
    margin-top:  1em;
  }
}