.card {
  width:           90%;
  height:          350px;
  margin:          auto;
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;
  box-shadow:      $default-shadow;
  padding:        .5em;

  &:nth-child(odd) {
    background: $default-primary;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  }

  img {
    width:      80%;
    margin:     auto;
    box-shadow: $default-shadow;
  }

  &__content {
    font-size: 80%;
  }
}
