*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;
}

// *,*::before,*::after {
//   border: 1px solid red;
// }

.App {
  background: lightblue;
  font-family:  Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}


// HEADER

.logo {
  display: flex;
  justify-content: space-around;

  span { font-size: 64px; }
}

.main-nav {
  li {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }
}


// FOOTER
footer {
  text-align: center;
  margin-top: auto;

  a { 
    display: inline-block;
    padding: 10px;
  }
}


// HOME
.showCase{
  color: white;
  padding: 1em;

  background: url('./img/beer.jpeg');
  background-size: cover;
  background-position: center;
  background-color: #EDB;
  // mix-blend-mode: color-burn;
  background-blend-mode: color-burn;

  .btn {
    display: block;
    margin-top: 10px;
    color: white;
  }
}

.top-box {
  padding: .5em;
  text-align: center;
  background: #f9f9f9;
  border: 1px dotted black;
  box-shadow: 0 1px 5px;

  h4 {
    font-size: 1.5em;
  }

  p {
    display: block;
    width: 50%;
    margin: auto;
    font-size: 2em;
    margin-top: 1em;
  }

  .btn {
    background: black;
    display: block;
    margin-top: 10px;
    color: white;
    padding: .4em;
    width: 40%;
    margin: auto;
    margin-top: 1em;
  }
}


/* BOXES */
.boxes {
  background: #f9f9f9;
  text-align: center;

  & .box {
    border: 1px dotted black;
    padding: 1rem;
    box-shadow: 0 1px 5px;
  }

  & h3 {
    margin-top: 1rem;
  }
  
  & p {
    margin-top: .5rem;
  }
}


// ABOUT
.about {
  h1 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
  }

  p {
    text-indent: 10%;
    margin-top: 5px;
    padding: 5%;
  }
}


// INFO
.info {
  margin-top: 10px;
  background: green;
  text-align: center;

  img {
    width: 100%;
  }

  p {
    text-align: left;
    text-indent: 10%;
    padding: 5%;
  }

  .btn {
    background: black;
    display: block;
    color: white;
    padding: .4em;
    width: 40%;
    margin: .5em auto;
  }
}


// PORTFOLIO
.portfolio {

  background: blue;
// Maybe add different blend modes to each picture and again on hover?

  img {
    width: 100%;
    box-shadow: 0 1px 5px;
  }
}


// BEERS

.main {
  h1 {
    text-align: center;
  }
}

.main-error { 
  background: red;
  font-size: 64px;
  text-align: center;
  padding: 10px;
}

.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;

  box-shadow: 0 1px 5px;

  margin-bottom: 1em;

  img,
  h2,
  span {
    margin: auto;
    margin-bottom: 10px;
  }

  img {
    width: 60%;
    box-shadow: 0 1px 5px;
  }
}




// FORM
.sign-up-form {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;

  label {
    display: block;

    text-align: left;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
  }
  .input-field {
    width: 100%;
    padding: 2px;
  }
  button {
    margin-top: auto;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
  }
}