*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;
}

/*
  TODO:
  1. Push HEADER to top; FOOTER to bottom; components take up all the space in between.
  2. Card contents display at inconsisten heights. Especially at 500px <
  3. Overflow scroll bar at every size :( . Hide.
  4. Nav li items text don't change color on hover. 
*/

// COLORS
$default-primary:          #BBBBBB;
$default-background-color: #F9F9F9;
$default-dark:             #A25151;
$default-light:            #fcfcfc;
  // --primary: #aaa;
  // --dark: #333;
  // --light: #fff;
$default-shadow: 0 1px 5px rgba(101, 101, 101, 0.8);

// FONT STUFF
$default-font-size:   20px;
$default-line-height: 1.4;


// SURROUNDINGS
$default-padding: 0.4em .9em;  // 8px 18px
$default-margin:  1.6em;  // 32px


// IMAGES
$default-img-width: 100%;


// MEDIA QUERIES
$between-500-and-700: 500px;
$between-700-and-up:  700px;


body {
  background:  $default-background-color;
  font-size:   $default-font-size;
  line-height: $default-line-height;
}

img {
  width: $default-img-width;
}

button,
.btn {
  background: $default-dark;
  color:      $default-light;
  padding:    $default-padding;
  margin:     auto;
}


// APP
.App {
  width:           100%;
  height:          100vh;
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;
  overflow:        scroll;
}

.header {
  span {
    font-size:   3.2em; // 64px;
    font-weight: bold;
  }

  .beer-icon {
    font-size: 3em; // 60px
  }

  &__nav {
    text-align:     center;
    text-transform: uppercase;
    li {
      padding: $default-padding;
      border-bottom: .05em solid black;  // 1px

      &:first-child {
        border-top: .1em solid black; // 2px
      }
    }
  }
}

.footer {
  background: $default-dark;
  margin-top: 1.6em;  // 32px
  text-align: center;
  a {
    display: inline-block;
    color:   $default-primary;
    padding: .33em;  // ~5.28px
  }
}


// PAGENOTFOUND
// ERROR
.main-error,
.not-found {
  margin:     auto;
  font-size:  2em;
  box-shadow: $default-shadow;
  background: rgba($default-primary, .5);
}


// HOME PAGE
.page-home {
  display:   grid;
  grid-gap: .5em; // 10px
}

.top-container {
  display:   grid;
  grid-gap: .5em;
  grid-template-areas:
    'showCase'
    'top-box-a'
    'top-box-b';
}

.showCase {

  grid-area:             showCase;
  display:               flex;
  flex-direction:        column;

  min-height:            5em; // 100px;
  padding:               1em;

  background:            url(./img/beer.jpeg);
  background-size:       cover;
  background-position:   center;

  background-color:      rgba($default-light, .7);
  background-blend-mode: difference;
  color:                 saturate($default-dark, 50);
}

.top-box {
  display:       grid;
  align-items:   center;
  justify-items: center;
  background:    $default-background-color;
  box-shadow:    $default-shadow;
  padding:      .4em;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}


// BOXES
.boxes {
  display:               grid;
  grid-gap:             .5em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: $default-light;
  text-align: center;
  padding:    $default-padding;
  box-shadow: $default-shadow;

  h3 {
    margin-top: 1em;
  }

  p {
    margin-top: 1em;
  }
}


// INFO
.info {
  display:    grid;
  grid-gap:   1.5em;  // 30px

  background: $default-light;
  box-shadow: $default-shadow;
  padding:    $default-padding;

  img {
    box-shadow: 0px 3px 3px 2px $default-primary;
  }

  .info__container {
    display:        flex;
    flex-direction: column;
    box-shadow:     $default-shadow;
    padding:        $default-padding;
  }

  h2 {
    text-align: center;
  }

  p {
    text-indent: 10%;
    padding:     1em;
  }
}

// PORTFOLIO
.portfolio {
  display:               grid;
  grid-gap:              1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  img {
    box-shadow: 0px 2px 2px 2px $default-primary;
  }
}


// ABOUT PAGE
.about {
  padding:      $default-padding;
  box-shadow:   $default-shadow;

  header {
    text-align:     center;
    text-transform: uppercase;
  }

  p {
    text-indent:   10%;
    margin-bottom: 1em;
  }
}


// BEERS PAGE
// USERS PAGE
.main {
  text-align: center;

  header {
    text-transform: uppercase;
  }

  section {
    display:  grid;
    grid-gap: 1em;
  }
}

.card {
  width:           90%;
  margin:          auto;
  display:         flex;
  flex-direction:  column;
  justify-content: space-around;
  box-shadow:      $default-shadow;
  padding:        .5em;

  &:nth-child(odd) {
    background: $default-primary;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  }

  img {
    width:      80%;
    margin:     auto;
    box-shadow: $default-shadow;
  }
}


// SIGN-UP PAGE
.sign-up-form {
  background: $default-primary;
  width:      90%;
  margin:     auto;
  padding:    $default-padding;
  box-shadow: $default-shadow;
  display:    grid;
  
  label,
  .input-field {
    width:   90%;
    margin:  auto;
    display: block;
  }

  .input-field {
    box-shadow: $default-shadow;
  }

  h1 {
    background: darken($default-light, 15);
    box-shadow: $default-shadow;
    padding:   .5em;
    text-align: center;
  }
}

.policy {
  font-size: .5em;
}


// USER PAGE
.page-user,
.page-featured {
  padding:    $default-padding;
  box-shadow: $default-shadow;
  margin:     auto;

  h1 {
    font-size: 2em;
  }

  p {
    text-indent: 10%;
    margin-top:  1em;
  }
} 



// MEDIA QUERIES
@media only screen and (min-width: $between-500-and-700) {
  .App {
    width:  95%;
    margin: auto;
  }

  .header__logo {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
  }

  .top-box {
    grid-gap: 2em;
    padding:  2em 0;

    .price {
      font-size: 2em;
    }
  }

  .box {
    padding: 1.5rem 2rem;
  }

  .sign-up-form {
    width:     80%;
    max-width: 700px;
  }

  .main section {
    // grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:             .2em;
  }

  .card {
    width:    90%;
    height:   400px;
    padding: .5em .5em 2em .5em;
  }

  .page-user,
  .page-featured {
    width:   80%;
    padding: 1em;
  }
}


// *,*::before,*::after { border: 1px solid red; }
@media only screen and (min-width: $between-700-and-up) {

  .App {
    width: 80%;
  }

  .header__nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      border-bottom: initial;
      border-right: .2em solid black;
    
      &:first-child {
        border-top: initial;
      }

      &:last-child {
        border-right: initial;
      }

      &:hover {
        background: $default-primary;
      }
    }
  }

  .top-container {
    grid-template-areas:
      'showCase showCase top-box-a'
      'showCase showCase top-box-b';
  }

  .showCase .btn {
      margin-bottom: 1em;
  }

  .info {
    grid-template-columns: repeat(2, 1fr);
    padding:               2em;
  }

  .page-user,
  .page-featured {
    padding: 3em;
  }
}